<launch>

  <arg name="layout" default="0"/>

  <include file="$(find unitree_legged_real)/launch/real.launch">
    <arg name="ctrl_level" value="HIGHLEVEL"/>
  </include>

  <node pkg="go1controller"
        type="joystick_control"
        respawn="true"
        name="joystick_controller"
        args="$(layout)"/>
  
</launch>